ol.tutorial-list {
	list-style-type: disc;
	list-style-position: inside;
}
ol > li {
	text-align: justify;
}
figcaption {
	font-size: smaller; 
	font-weight: bold;
	font-style: italic;
}
.figure-left {
	float: left; 
	margin: 0px 15px 15px 0px;
}
.figure-right {
	float: right; 
	margin: 0px 15px 15px 0px;
}
.list-alpha {
	list-style-type: lower-alpha;
}
.titleHeader {
	font-weight: bold;
}
.subtitleHeader {
	font-weight: bold;
	font-size: smaller;
}
