#optionSM {
	margin-left: 5em; 
	/*display:none;*/
} 
#options {
    width: 40%;
    margin:0 auto;
}
#data {
   margin:2em auto;
   width: 75%;
   display:none;
}
.miniPanel{
	float:left;
	/*background-color: #cccccc;*/
	margin: 0.2em 0.5em;
	text-align: center;
}
.contenedorOpciones { 
	display: inline-block; 
}
.greyPanelL { 
	padding-top: 0px; 
}
.contenidoPadding { 
	padding: 0em; 
}
i.fa { 
	text-decoration: none; 
}
.weights { 
	display: inline-block; 
}
#maxResultsSlider,
#pctExtraSlider { 
	width: 65%; 
}
.alert {
	color: red;
	font-style: italic;
}