.mainPane {
	float: left;
	width: 75%;
}
.rightPane {
	float: right;
	width: 20%;
}
table {
	width: 100%; 
	word-wrap:break-word; 
	table-layout: fixed;
}
.descriptorsTable tr,
.descriptorsTable th,
.descriptorsTable td {
	border: 1px solid black;
	text-align: center;
}
.image-container {
	width: 100%;
	float: right;
	background-color: #e6e6e6;
	border: 1px solid #cccccc;
	border-radius: 5px;
	overflow: hidden;
	display: inline;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.image2D {
	background-color: white;
}
.surface-applet {
	display: inline-block;
}
.ref-container {
	width: 100%;
	float: right;
	height: 4em;
	background-color: #e6e6e6;
	border: 1px solid #cccccc;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
	display: inline;
	margin-bottom: 10px;
}
.fancybox-image {
	background-color: white;
}
.alerts-fieldset {
	border-width: 2px;
	border-style: groove;
	border-color: threedface;
	border-image: initial; 
	display: block;
	margin-inline-start: 2px;
	margin-inline-end: 2px;
	padding-block-start: 0.35em;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	min-inline-size: min-content;	
}