.panel-container {
    width: 500px;
    max-height: 500px;
    margin: 10px;
    border: 1px solid #fff;
    background-color: #ffffff;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.panel-mainbody,
.panel-header,
.panel-footer {
    padding: 5px;
}
.panel-mainbody {
    margin-top: 0;
    min-height: 150px;
    max-height: 388px;
    overflow: auto;
}
.panel-header {
    height: 30px;
    border-bottom: 1px solid #EEE;
    background-color: #D3D3D3;
    height: 30px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*font-weight: bold;*/
}
.panel-footer {
    height: 30px;
    background-color: whiteSmoke;
    border-top: 1px solid #DDD;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.panel-container-extended {
    float: left; 
    width: 48%;
}
.panel-header-text {
    float: left; 
    width: 90%;
}
.panel-header-icon {
    float: right; 
    cursor: pointer; 
    padding: 0px;
}
