h6 {
	font-weight: bold;
	font-size: 12px;
}
a:link, a:visited {
	color: #000;
	text-decoration: none;
	font-size: 12px;
}
cite {
	 font-size: 11px;
	 padding: 0px;
	 font-style: italic;
}
.parameters-box {
	float: left;
	width: 70%;
	padding: 2px;
	text-align: center;
}
.parameters-box > table {
	font-size: 12px;
	border: 1px solid #000000;
	text-align: left;
	margin: 2px;
	width: 100%;
}
.parameters-box th { 
	font-weight: bold;	
	font-size: 12px;
}
.query-box {
	float: right;
	width: 25%;
	padding: 2px;
	text-align: center;
	margin-bottom: 5px;
}
.query-img {
	border: 1px solid #cccccc;
	width: 180px;
	height: 160px;
	text-align: center;
}
.numeric_column { text-align: right; }
.centered_column { text-align: center; }
.small_column {	width: 10%; }
.hidden_row { 
	display: none;
	background-color:white; 
}
.result_table, 
.result_table tr, 
.result_table td, 
.result_table th {
	border: 1px solid #000000;
}
.result_table th,
.result_table td {
	padding-right: 5px;
	padding-left: 5px;
}
.result_row:hover {
	background-color: #b3cccc;
	cursor: pointer;
}
.detail_table { width: 100%; }
.detail_table,
.detail_table tr,
.detail_table td,
.detail_table th {
	/*border: 1px solid #000;*/
	border: 0px;
}
.detail_table tr:hover {
	background-color: #b3cccc;
}
.detail_header {
	text-align: center;
	background-color: lightgrey;
	width: 100%;
}
.centered {
	text-align: center;
	vertical-align: middle;
}
.load {
	font-size: 12px;
	cursor: pointer;
}
.parameters-popup,
#dialog-params {
	font-size: 12px;
}

#dialog-params th {
	font-weight: bold;
	text-align: left;
}
#dialog-params td {
	padding: 0px 5px 0px 5px;
}
.legendQuery,
.legendHit {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 20px;
	height: 20px;
}
.legendQuery {
	background: darkgreen;
}
.legendHit {
    background: dimgray;
}
.legendText {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.alertMessage {
	font-size: 11px;
	font-style: italic;
}